apiVersion: apps/v1
# Versión de la API de Kubernetes que se usa para Deployments

kind: Deployment
# Tipo de recurso: un Deployment gestiona Pods y ReplicaSets

metadata:
  name: mlops-app
  # Nombre del Deployment dentro del cluster

spec:
  replicas: 2
  # Número de Pods que Kubernetes mantendrá corriendo (alta disponibilidad)

  selector:
    matchLabels:
      app: mlops-app
      # El Deployment controla todos los Pods con esta etiqueta

  template:
    # Plantilla del Pod que se va a crear
    metadata:
      labels:
        app: mlops-app
        # Etiqueta que conecta el Pod con el Deployment y el Service

    spec:
      containers:
      - name: mlops-app
        # Nombre del contenedor dentro del Pod

        image: dataguru97/gitops-project:latest
        # Imagen Docker que se descarga desde el registry (Docker Hub)

        ports:
        - containerPort: 5000
          # Puerto interno donde escucha la app (por ejemplo Flask/FastAPI)
